
  /* For medium screens (768px to 1024px) */
/* Base styles for chat box */
.chat-box {
  display: none; /* Hidden by default */
}

/* Visible when a chat is selected on medium and small screens */
.show-on-md {
    display: flex; /* Default to flex for larger screens */
    flex-direction: column;
    padding: 16px;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    
}

/* Always visible on larger screens */
@media (min-width: 1025px) {
  .chat-box {
    display: flex; /* Default to flex for larger screens */
    flex-direction: column;
    padding: 16px;
    background-color: white;
    width: 68%;
    border-radius: 8px;
    border: 1px solid #e2e2e2;/* Always show on full screens */
  }
}


  